.mobile-menu {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding-top: 66px;
	padding-right: 18px;
	padding-bottom: 56px;
	padding-left: 24px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: start;
	background: #f6f6f6;
	transition: $defaultTransitionTime;
	visibility: hidden;
	opacity: 0;
	transform: translateY(-100%);
	z-index: 99999;
	overflow-y: auto;
	&--active {
		visibility: visible;
		opacity: 1;
		transform: translateY(0%);
	}
	&__logo-link {
		position: absolute;
		top: 60px;
		left: 24px;
		@extend .header__logo-link;
	}

	&-visible {
		opacity: 1;
		visibility: visible;
	}
	&-unvisible {
		opacity: 0;
		visibility: hidden;
	}

	&__logo {
	}
	&-submenu {
		display: flex;
		flex-direction: column;
		align-items: end;

		.back-button {
			display: flex;
			justify-content: space-between;
			flex-direction: row-reverse;
			align-items: center;
			margin-bottom: 10px;
			cursor: pointer;

			button {
				color: $darkGray;
				font-size: 17px;
				font-weight: 500;
				background: none;
				border: none;
			}

			svg {
				transform: rotate(90deg);

				path {
					fill: $darkGray;
				}
			}
		}
	}

	&__logo-image {
		@extend .header__logo-image;
	}

	&__logo-body {
		@extend .header__logo-body;
	}

	&__logo-company {
		@extend .header__logo-company;
	}

	&__logo-text {
		@extend .header__logo-text;
	}

	&__close-btn {
		border: none;
		background: none;
		margin-bottom: 52px;
	}

	&__nav {
		margin-bottom: 104px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: start;
		gap: 24px;

		&-block {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			align-items: end;
			gap: 8px;

			&--submenu {
				&--btn {
					display: flex;
					justify-content: space-between;
					align-items: center;
					gap: 8px;
					transition: 0.23s;
				}

				&__list {
					list-style: none;
					display: flex;
					flex-direction: column;
					align-items: end;
					gap: 18px;

					li {
						div {
							display: flex;
							justify-content: space-between;
							align-items: center;
							gap: 8px;
							p {
								color: $black;
								font-family: 'Lato', sans-serif;
								font-size: 20px;
								font-style: normal;
								font-weight: 500;
								line-height: 110%;
								letter-spacing: -0.2px;
							}
						}
					}
				}

				&__li {
					display: flex;
					flex-direction: column;
					align-items: end;

					&-nav {
						display: none;
					}
					&-showedContent {
						display: flex;
						align-items: end;
					}
					&-link {
						color: $blue;
					}
				}

				&--nonDisplayed {
					display: none;
				}
				&--block-active {
					display: block;
				}
			}
		}
	}

	&__nav-link {
		color: $black;
		leading-trim: both;
		text-edge: cap;
		font-family: $mainFont;
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 110%; /* 22px */
		letter-spacing: -0.2px;
	}

	&__info-list {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: start;
		gap: 24px;
	}

	&__info-list-item {
		&--tels {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: start;
			gap: 12px;
		}

		.mobile-menu__btn {
			color: #fff;
			font-family: 'Lato', sans-serif;
			background: #ee4b28;
			background-image: url('../../assets/svg/tel-icon.svg');
			background-repeat: no-repeat;
			background-position: left 28.91px center;
			background-size: 18px;
			transition: 0.23s;
			cursor: pointer;
			transition: 0.23s;
		}
	}

	&__company-time {
		@extend .header__company-time;
		width: fit-content;
		margin-left: auto;
		margin-bottom: 16px;
	}

	&__address {
		@extend .header__address;
	}

	&__tel-link {
	}

	&__btn {
		display: inline-block;
	}

	@media (max-width: 768px) {
		padding-top: 60px;
		padding-left: 24px;
		padding-right: 18px;
		padding-bottom: 56px;
	}

	@media (max-width: 375px) {
		padding-top: 14.81px;
		padding-right: 24px;
		padding-left: 16px;
		padding-bottom: 56px;
		&__logo-link {
			top: 14.81px;
			left: 16px;
		}
		&__close-btn {
			margin-top: 20.81px - 14.81px;
		}
		&__nav {
			gap: 24px;
			margin-bottom: 125px;
		}
		&__nav-link {
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 110%; /* 17.6px */
			letter-spacing: -0.16px;
		}
		&__company-time {
			margin-bottom: 16px;
		}
		&__company-time,
		&__address {
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 110%; /* 17.6px */
			letter-spacing: -0.16px;
			background-size: 16px;
			padding-left: 24px;
		}
	}
}
